* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --text-color: black;
    --bg-url: url(./assets/BackgroundLibraryL.png);
    --stroke-color: black;
  
    --switch-bg-url: url(./assets/Sun.svg);
  }
  
  .dark {
    --text-color: white;
    --bg-url: url(./assets/BackgroundLibraryD.png);
    --stroke-color: white;
    
  
    --switch-bg-url: url(./assets/MoonStars.svg);
  }
  
  body {
    /* background-color: brown;
    background-image: url(./assets/background-space.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    */
  
    /*background: image  repeat position/size */
    background: var(--bg-url) no-repeat top;
    
    height: 100%;
    width: 100%;
  }
  
  body * {
    font-family: "Inter", sans-serif;
    color: var (--text-color);
  }
  
  #container0 {
    width: 850px;
    max-width: 2170px;
    height: 50%;
    margin: auto;
    position: center;
  }
  
  #container0 img {
    width: 100%;
    height: 100%;
    margin: auto;
    position: center;
    
  }
  
  #switch {
    position: relative;
    width: 64px;
    margin: 4px auto;
  }
  #switch button {
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;
  
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
    border: 1px solid black;
    animation: slid-Dark 0.2s forwards;
  }
  
  .dark #switch button {
    animation: slid-Light 0.2s;
  }
  
  #switch button:hover {
    outline: 3px solid rgb(224, 224, 224);
  }
  #switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 2px solid var(--stroke-color);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
  }
  
  #autor {
    margin: auto;
    width: 145px;
    position: cover;
    justify-content: center;
  }
  
  #autor img {
    position: cover;
    width: 145px;
    justify-content: center;
    border-radius: 10%; 
  }
  
  #container1 {
    padding: 5px 15px;
    width: 650px;
    margin: auto;
    position: center;
  }
  
  a:link {
    color: var(--text-color);
    text-decoration: none;
  }
  a:visited {
    color: var(--text-color);
    text-decoration: none;
  }
  a:hover {
    color: var(--text-color);
    text-decoration: none;
  }
  a:active {
    color: var(--text-color);
    text-decoration: none;
  }
  
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
  }
  
  ul li {
    font-size: 30px;
    background-color: color var (--text-color);
  }
  
  ul li a {
    border: solid 4px var(--stroke-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    text-decoration: none;
    font-weight: 500;
    background-color:  rgb(196, 196, 196);
    font-style: var (--text-color);
   
  
    transition: background 1.5s;
  }
  
  ul li a:hover {
    background: rgb(189, 63, 63);
    transition: 0.2s;
  }
  
  /*social links */
  #social-links {
    display: flex;
    justify-content: center;
    
    font-size: 45px;
    height: 70px;
    background-color: rgb(196, 196, 196);

    margin-left: 160px;
    width: 50%;
    border: solid 4px black;
  }
  
  #social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    transition: background 0.5s;
    border-radius: 50%;
  }
  
  #social-links a:hover {
    background: rgb(245, 52, 52);
  }
  
  @media (min-width: 320px){
    :root {
      --bg-url: url(./assets/BackgroundLibraryL.png);
    } 
    .dark {
      --bg-url: url(./assets/BackgroundLibraryD.png);
    }
  }

  @keyframes  slid-Dark {
    from {
      right: 0;
    }
    to {
      right:50%;
    }
  }

  @keyframes slid-Light {
    from {
      right: 50%;
    }
    to {
      right: 0;
    }
  }